/* Rest of the existing CSS styles for the navbar */
.custom-navbar {
  background: linear-gradient(159deg, #2d2d3a, #2b2b35);
  padding: 1em !important;
}

.custom-container {
  width: 100% !important;
  margin: auto !important;
}

.nav-link-animate {
  position: relative;
  text-decoration: none;
  color: #fff; /* Change color as needed */
}

.nav-link-animate::before {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #fff; /* Change the color of the underline as needed */
  transition: width 0.3s;
}

.nav-link-animate:hover::before {
  width: 100%;
}

/* Additional CSS styles for the hamburger icon when clicked */
.navbar-toggler.open {
  background-color: #01be96;
}

.show-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #01be96;
  padding: 20px;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  z-index: 999; /* Increase z-index to ensure the menu appears above other content */
}

/* We no longer need this rule as the menu content is handled with show-menu class */
.initial-menu {
  display: none;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 998; /* Adjust the z-index to ensure it is below the menu */
}

.menu-content {
  background-color: #01be96;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  width: 60%;
  max-width: 300px;
  padding: 1rem;
  box-shadow: -8px 0 15px rgba(0, 0, 0, 0.2);
}

.close-icon {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.5rem;
  color: #fff;
  cursor: pointer;
}
