.wrapper {
  width: 90%;
  margin: auto;
  color: white;
}

.App {
  background: linear-gradient(159deg, #2d2d3a, #2b2b35);
}

.customNavbar {
  color: white !important;
}

.outer-container {
  padding: 1em;
}


.custom-flex {
  display: flex;
  justify-content: space-between;
}

.column1-Home {
  width: 70%;
}
.column2-Home {
  width: 250px;
  height: 250px;
  background-color: #01be96;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s ease;
}

.column2-Home:hover {
  transform: translateY(-20px); /* Moves the div 20 pixels up on hover */
}

@media only screen and (max-width: 999px) {
  .wrapper {
    width: 100%;
  }
  .outer-container {
    margin: 1em;
  }
  .column1-Home {
    width: 100%;
  }
}

@media only screen and (max-width: 575px) {
  .custom-flex {
    display: grid;
    grid-template-columns: auto;
  }
  .column2-Home {
    width: 100%;
    height: 0;
    padding-bottom: 100%; /* Maintains the aspect ratio for a square shape */
    position: relative;
    overflow: hidden;
    border-radius: 50%; /* Set the border-radius to 50% to make it round */
  }

  .column2-Home img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain the aspect ratio and cover the entire div */
    position: absolute;
    top: 0;
    left: 0;
  }
}

/* MyButton.css */
.lets-talk-btn {
  background-color: #01be96 !important;
  color: #ffffff !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
  transition: background-color 0.3s ease !important;
}

.lets-talk-btn:hover {
  background-color: #018a73 !important;
}

.glow-on-hover {
  width: 3em;
  height: 50px;
  border: none;
  outline: none;
  color: #fff;
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

.glow-on-hover:before {
  content: "";
  background: linear-gradient(
    45deg,
    #ff0000,
    #ff7300,
    #fffb00,
    #48ff00,
    #00ffd5,
    #002bff,
    #7a00ff,
    #ff00c8,
    #ff0000
  );
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

.glow-on-hover:active {
  color: #000;
}

.glow-on-hover:active:after {
  background: transparent;
}

.glow-on-hover:hover:before {
  opacity: 1;
}

.glow-on-hover:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #111;
  left: 0;
  top: 0;
  border-radius: 10px;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/* MyComponent.css */
.column2:hover {
  transform: translateY(
    -10%
  ); /* Move the entire container up by 10% on hover */
}

.main-stack{
  display: flex;
  justify-content: space-between;
}

.stack-column {
  /* width: 30%; */
  background: linear-gradient(159deg, #2d2d3a, #2b2b35);
  padding: 0.5em;
  margin: 0.5em;
}

@media only screen and (max-width: 999px) {
  .main-stack{
    display: grid;
    grid-template-columns: auto auto;
  }
}

@media only screen and (max-width: 575px) {
  .main-stack{
    display: grid;
    grid-template-columns: auto;
  }
}

/* Footer.css */

/* For the initial state */
.logo-container a,
.email-container a {
  /* Set the default color for the links (white) */
  color: white;
}

/* For the initial state of the icon */
.logo-container .logo-icon,
.email-container .logo-icon {
  /* Set the default color for the icons (white) */
  color: white;
}

/* For the initial state of the text */
.logo-container p,
.email-container p {
  /* Set the default color for the text (white) */
  color: white;
}

/* For the hover state */
.logo-container:hover a,
.email-container:hover a,
.logo-container:hover .logo-icon,
.email-container:hover .logo-icon,
.logo-container:hover p,
.email-container:hover p {
  /* Change the color to #01BE96 on hover */
  color: #01be96;
}

/* Media Query for smaller screens */
@media (max-width: 768px) {
  .column1,
  .column2 {
    width: 100%; /* Make the columns full-width on smaller screens */
  }

  .column1 {
    margin-bottom: 2rem; /* Add some space between the columns on smaller screens */
  }

  .d-flex.justify-content-between {
    flex-direction: column; /* Stack the columns vertically on smaller screens */
  }

  .logo-container,
  .email-container {
    text-align: center; /* Center the content inside the containers on smaller screens */
  }

}
